@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    color: #fff;
}
body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(31,31,90,1) 35%, rgb(74, 149, 164) 94%);
}
header{
    display: flex;
    align-items: center;
    padding: 5px;
}
nav{
    flex: 1;
    text-align: center;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
    font-size: large;
}
nav ul li a{
    text-decoration: none;
}
nav ul li a:hover{
    text-decoration: underline;
    color: bisque;
}
nav ul li #linkedin:hover{
    color: rgb(90, 149, 209);
}
nav ul li #instagram:hover{
    color: rgb(255, 0, 0);
}
nav ul li #github:hover{
    color: #000;
}

nav ul li .blog{
    display: none;
}
nav ul li .signup{
    display: none;
}
nav ul li .login{
    display: none;
}

.profile{
    height: 200px;
    width: 200px;
    background-image: url(Bijay.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 25% 75% 73% 27% / 64% 58% 42% 36%;
    box-shadow: 4px 3px 10px 3px #BEB7AF;
}
.introSection{
    height: 200px;
    width: 70%;
    background-color: #ffffff05;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(25px);
    border-radius: 15px;
    position: relative;
    top: 50px;
    left: 200px;
}
.profile{
    float: left;
}
.introduction{
    float: right;
    width: 50%;
}
.lan{
    height: 200px;
    width: 200px;
    background-color: #fff;
    margin: 10px;
    border-radius: 15px;
    box-shadow: 4px 3px 10px 3px #a3a3a3;
    margin-top: 50px;
}
.skills{
    position: relative;
    top: 90px;
    left: 600px;
}
.SkillSection{
    display: grid;
    grid-template-rows: repeat(9,100px);
    grid-template-columns: repeat(14,100px);
}
.programming{
    background-color: #ffffff05;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(25px);
    box-shadow: 4px 3px 10px 3px #fff;
    border-radius: 15px;
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 14;
    display: grid;
    grid-template-columns: repeat(12, 100px);
    grid-template-rows: repeat(14, 100px);
    overflow: hidden;
    overflow-y: scroll;
    padding-left: 50px;
    position: relative;
    top: 30px;
}
.c{
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
    height: 135px;
    width: 135px;
    padding-top: 20px;
    padding-left: 18px;
}
.python{
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 4;
    grid-column-end: 6;
    height: 135px;
    width: 135px;
    padding-top: 20px;
    padding-left: 18px;
}
.html{
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 7;
    grid-column-end: 9;
    height: 135px;
    width: 135px;
    padding-top: 20px;
    padding-left: 18px;
}
.css{
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 10;
    grid-column-end: 12;
    height: 135px;
    width: 135px;
    padding-top: 20px;
    padding-left: 18px;
}
.js{
    grid-row-start: 4;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 3;
    height: 135px;
    width: 135px;
    padding-top: 20px;
    padding-left: 18px;
}
.php{
    grid-row-start: 4;
    grid-row-end: 6;
    grid-column-start: 4;
    grid-column-end: 6;
    height: 135px;
    width: 135px;
    padding-top: 20px;
    padding-left: 18px;
}
.cPlus{
    grid-row-start: 4;
    grid-row-end: 6;
    grid-column-start: 7;
    grid-column-end: 9;
    height: 135px;
    width: 135px;
    padding-top: 20px;
    padding-left: 18px;
}
.mySql{
    grid-row-start: 4;
    grid-row-end: 6;
    grid-column-start: 10;
    grid-column-end: 12;
    height: 135px;
    width: 135px;
    padding-top: 20px;
    padding-left: 18px;
}
.languages{
    position: relative;
    top: 140px;
    left: 10px;
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: #ffffff05;
    width: 140px;
    height: 50px;
    text-align: center;
    backdrop-filter:blur(10px);
    -webkit-backdrop-filter: blur(25px);
    
}
.otherSkills{
    position: relative;
    top: 518px;
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: #ffffff05;
    width: 140px;
    height: 30px;
    text-align: center;
    backdrop-filter:blur(10px);
    -webkit-backdrop-filter: blur(25px);
}
.other{
    background-color: #ffffff05;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(25px);
    box-shadow: 4px 3px 10px 3px #fff;
    border-radius: 15px;
    grid-row-start: 7;
    grid-row-end: 9;
    grid-column-start: 2;
    grid-column-end: 14;
    display: grid;
    grid-template-columns: repeat(12, 100px);
    grid-template-rows: repeat(14, 100px);
    overflow: hidden;
    overflow-y: scroll;
    padding-left: 50px;
}
.soft{
    height: 200px;
    width: 200px;
    background-color: #fff;
    margin: 10px;
    border-radius: 15px;
    box-shadow: 4px 3px 10px 3px #a3a3a3;
    margin-top: 50px;
}
.figma{
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
    height: 135px;
    width: 135px;
    padding-top: 20px;
    padding-left: 18px;
}
.blender{
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 4;
    grid-column-end: 6;
    height: 135px;
    width: 135px;
    padding-top: 20px;
    padding-left: 18px;
}
.adobePremierPro{
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 7;
    grid-column-end: 9;
    height: 135px;
    width: 135px;
    padding-top: 20px;
    padding-left: 18px;
}
.adobeAfterEffect{
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 10;
    grid-column-end: 12;
    height: 135px;
    width: 135px;
    padding-top: 20px;
    padding-left: 18px;
}
.adobeLightRoom{
    grid-row-start: 4;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 3;
    height: 135px;
    width: 135px;
    padding-top: 20px;
    padding-left: 18px;
}
.adobePhotoshop{
    grid-row-start: 4;
    grid-row-end: 6;
    grid-column-start: 4;
    grid-column-end: 6;
    height: 135px;
    width: 135px;
    padding-top: 20px;
    padding-left: 18px;
}
.adobeIllustrator{
    grid-row-start: 4;
    grid-row-end: 6;
    grid-column-start: 7;
    grid-column-end: 9;
    height: 135px;
    width: 135px;
    padding-top: 20px;
    padding-left: 18px;
}
.microsoftWord{
    grid-row-start: 4;
    grid-row-end: 6;
    grid-column-start: 10;
    grid-column-end: 12;
    height: 135px;
    width: 135px;
    padding-top: 20px;
    padding-left: 18px;
}
.microsoftExcel{
    grid-row-start: 7;
    grid-row-end: 9;
    grid-column-start: 1;
    grid-column-end: 3;
    height: 135px;
    width: 135px;
    padding-top: 20px;
    padding-left: 18px;
}
.microsoftPowerpoint{
    grid-row-start: 7;
    grid-row-end: 9;
    grid-column-start: 4;
    grid-column-end: 6;
    height: 135px;
    width: 135px;
    padding-top: 20px;
    padding-left: 18px;
}