@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    color: #fff;
}
body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(31,31,90,1) 35%, rgb(74, 149, 164) 94%);
}
header{
    display: flex;
    align-items: center;
    padding: 5px;
}
nav{
    flex: 1;
    text-align: center;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
    font-size: large;
}
nav ul li a{
    text-decoration: none;
}
nav ul li a:hover{
    text-decoration: underline;
    color: bisque;
}
nav ul li #linkedin:hover{
    color: rgb(90, 149, 209);
}
nav ul li #instagram:hover{
    color: rgb(255, 0, 0);
}
nav ul li #github:hover{
    color: #000;
}
section h1{
    text-align: center;
    margin-top: 10px;
}
.bottomLine{
    position: relative;
    top: 20px;
    border-bottom: 1px solid #fff;
}
img{
    border-radius: 9px;
    box-shadow: 4px 3px 10px 3px #BEB7AF;
    margin-top: 10px;
}
.title{
    padding-top: 20px;
}
.paragraph{
    padding-top: 10px;
    padding-bottom: 10px;
}
.commentBox{
    position: relative;
    top: 20px;
    left: 43%;
    height: 230px;
    width: 200px;
    background-color: #ffffff05;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(25px);
    box-shadow: 4px 3px 10px 3px #BEB7AF;
    border-radius: 9px;
}
.commentBox input, textarea{
    color: #000;
    border-radius: 9px;
    margin-left: 13px;
}
.commentBox h3{
    text-align: center;
}
.commentBox #comments{
    margin-top: 10px;
}
.commentBox #submit{
    margin-left: 37%;
    width: 40px;
}
.blog-post img{
    position: relative;
    left: 18%;
}