@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    color: #fff;
}
body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(31,31,90,1) 35%, rgb(74, 149, 164) 94%);
}
.image-box{
    height: 200px;
    width: 200px;
    background-image: url(Bijay.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 25% 75% 73% 27% / 64% 58% 42% 36%;
    position: relative;
    top: 200px;
    left: 47%;
    box-shadow: 4px 3px 10px 3px #BEB7AF;
}
h1{
    padding-top: 20px;
    padding-left: 27%;
   font-size: xx-large;
    color: bisque;
}
p{
    margin-top: 10px;
    padding-left: 27%;
}
span{
    color: rgb(124, 175, 199);
}
.mail{
    margin-top: 10px;
    padding-left: 27%;
    font-size: x-large;
}
i:hover{
    color: rgb(90, 149, 209);
}
h3{
    color: bisque;
}
header{
    display: flex;
    align-items: center;
    padding: 5px;
}
nav{
    flex: 1;
    text-align: center;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
    font-size: large;
}
nav ul li a{
    text-decoration: none;
}
nav ul li a:hover{
    text-decoration: underline;
    color: bisque;
}
nav ul li #instagram:hover{
    color: rgb(255, 0, 0);
}
nav ul li #github:hover{
    color: #000;
}